{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% from "security/_macros.html" import render_field_with_errors %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex align-items-center py-4" style="min-height: 50vh;">
    <main class="form-signin w-100 m-auto">
        <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
            {{ login_user_form.hidden_tag() }}
            <i class="bi bi-bootstrap fs-1 mb-4 d-block text-center"></i>
            <h1 class="h3 mb-3 fw-normal text-center">{{ ('Please sign in') }}</h1>

            <div class="form-floating mb-2">
                {{ login_user_form.email(class="form-control", id="floatingEmail", placeholder="name@example.com") }}
                {{ login_user_form.email.label(for="floatingInput") }}
                {% if login_user_form.email.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in login_user_form.email.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-floating mb-3">
                {{ login_user_form.password(class="form-control", id="floatingPassword", placeholder="Password") }}
                {{ login_user_form.password.label(for="floatingPassword") }}
                {% if login_user_form.password.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in login_user_form.password.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            {% if login_user_form.remember %}
            <div class="form-check text-start my-3">
                {{ login_user_form.remember(class="form-check-input") }}
                {{ login_user_form.remember.label(class="form-check-label") }}

            </div>
            <div class="form-check text-start my-3"><a href="{{ url_for_security('forgot_password') }}"> Forgot
                password? </a>
            </div>
            {% endif %}

            {{ login_user_form.submit(class="btn btn-primary w-100 py-2") }}
            <p class="mt-5 mb-3 text-body-secondary text-center">&copy; {{ current_year }}</p>
        </form>
    </main>
</div>
{% endblock %}