{% extends "base.html" %}
{% block title %}Menu{% endblock %}
{% block content %}


<h1>All menus in the Database</h1>
<div class="accordion" id="accordionExample">
    {% for menu in menu_data %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button {% if not loop.first %}collapsed{% endif %}" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ loop.index }}"
                    aria-expanded="{% if loop.first %}true{% else %}false{% endif %}"
                    aria-controls="collapse{{ loop.index }}">
                {{ menu.name }} ({{ menu.id }})
            </button>
        </h2>
        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    {% for link in menu.links %}
                    <li><a href="{{ url_for(link.url) }}">{{ link.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="d-flex justify-content-end">
                    <div class="btn-group" role="group" aria-label="Menu actions">
                        <a href="{{ url_for('menu.update_menu', menu_id=menu.id) }}"
                           class="btn btn-outline-primary btn-sm" title="Edit menu">
                            <i class="bi bi-pen"></i>
                        </a>
                        <button type="button" name="delete-menu" class="btn btn-outline-danger btn-sm"
                                data-uuid="{{ menu.id }}"
                                onclick="deleteItem(this, 'menu'); return false;" title="Delete menu">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<div class="d-flex justify-content-end">
    <div class="btn-group" role="group" aria-label="Menu actions">
        <a href="{{ url_for('menu.create_menu') }}"
           class="btn btn-outline-primary btn-sm" title="Create menu">
            <i class="bi bi-plus"></i>
        </a>

    </div>
</div>

{% endblock %}