{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<section id="databaseTableContent">
    <div class="container">
        <h1>All items in the Database</h1>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped-rows table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">ID</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    {% for item in all_items: %}
                    <tbody>
                    <tr>
                        <td>{{ item.title }}</td>
                        <td>{{ item.uuid}}</td>
                        <td>
                            <button name="delete-item" class="btn btn-link" data-uuid="{{ item.uuid }}"
                                    onclick="deleteItem(this, 'items'); return false;"><i
                                    class="bi bi-trash"></i></button>
                            <button class="btn btn-link"><a class="icon-link"
                                                            href="{{ url_for('items.update_item', uuid_str=item.uuid) }}"><i
                                    class="bi bi-pen"></i></a></button>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
                <div class="d-flex gap-2 justify-content-end mb-4">
                    <a class="link" href="{{ url_for('items.create_item') }}">
                        <button type="button" class="btn btn-info float-right">
                            Add an item
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}