<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
<body>
  <div class="d-flex flex-column min-vh-100">
<div class="container-fluid">
  <!-- Header/Navigation -->
  <div class="row">
    <div class="col-12">
      <header>
<!-- Header -->
<nav class="navbar navbar-dark bg-primary" aria-label="Dark offcanvas navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home.index') }}">Fullstack Flask Application</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Admin</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('home.index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('items.items_index') }}">Items</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{{ url_for('users.users_index') }}">Users</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" target="_blank" href="{{ url_for('admin.index') }}">Flask Admin</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
      </header>
<!-- Header End  -->
    </div>
  </div>
  <div class="container">
  <div class="row ">
    <div class="col-md-1">
    <aside>
      <p>sidebar?</p>
    </aside>
    </div>
    <div class="col-md-11">
      {% block content %}{% endblock %}
    </div>

  </div>
</div>

  <!-- Footer -->
  <div class="row">
    <div class="col-12">
      <footer>
        <!-- Your footer content here -->
            <footer class="mt-auto py-3 bg-light">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Simon Hardt</span>
          </div>
          <ul class="col-md-6 nav justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-twitter" style="font-size: 24px;"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-linkedin" style="font-size: 24px;"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
      </footer>
        <!-- Bootstrap JS and Popper.js -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </div>
  </div>
</div></div></body></html>


